src/main/resources/wsdl/richiestaLottiNre/richiestaLottiNre.wsdl

<wsdl:definitions xmlns:ns1="http://lottorichiesta.xsd.nre.mirsac.sanita.finanze.it" xmlns:ns2="http://lottoricevuta.xsd.nre.mirsac.sanita.finanze.it" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lottorichiesta.wsdl.nre.mirsac.sanita.finanze.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nreRichiestaLottoPort" targetNamespace="http://lottorichiesta.wsdl.nre.mirsac.sanita.finanze.it">
    <wsdl:types>
        <xs:schema xmlns:tns="http://lottorichiesta.xsd.nre.mirsac.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://lottorichiesta.xsd.nre.mirsac.sanita.finanze.it" version="1.0">
            <xs:element name="LottoRichiestaNRE" type="tns:LottoRichiestaNRE"/>
            <xs:complexType name="LottoRichiestaNRE">
                <xs:sequence>
                    <xs:element name="CodRegione" type="xs:string"/>
                    <xs:element name="IdentificativoLotto" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFMedico" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:tns="http://lottoricevuta.xsd.nre.mirsac.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://lottoricevuta.xsd.nre.mirsac.sanita.finanze.it" version="1.0">
            <xs:element name="LottoRicevutaNRE" type="tns:LottoRicevutaNRE"/>
            <xs:complexType name="LottoRicevutaNRE">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodRegione" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodRagLotto" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificativoLotto" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodLotto" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFMedico" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodEsito" type="xs:string"/>
                    <xs:element minOccurs="0" name="Esito" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="richiestaLottoResponse">
        <wsdl:part element="ns2:LottoRicevutaNRE" name="richiestaLottoResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="richiestaLotto">
        <wsdl:part element="ns1:LottoRichiestaNRE" name="lottoRichiesta"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RichiestaLotto">
        <wsdl:operation name="richiestaLotto">
            <wsdl:input message="tns:richiestaLotto" name="richiestaLotto"> </wsdl:input>
            <wsdl:output message="tns:richiestaLottoResponse" name="richiestaLottoResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="nreRichiestaLottoPortSoapBinding" type="tns:RichiestaLotto">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="richiestaLotto">
            <soap:operation soapAction="http://lottorichiesta.wsdl.nre.mirsac.sanita.finanze.it/LottoRichiesta" style="document"/>
            <wsdl:input name="richiestaLotto">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="richiestaLottoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="nreRichiestaLottoPort">
        <wsdl:port binding="tns:nreRichiestaLottoPortSoapBinding" name="nreRichiestaLottoPort">
            <soap:address location="https://svc-sanita-internet.reteunitaria.piemonte.it/REL/service/richiestaLotto"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>