src/main/resources/wsdl/interrogaNre/interrogaNreUtil.wsdl

<wsdl:definitions targetNamespace="http://interroganreutilrichiesta.xsd.dem.sanita.fvg.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://interroganreutilrichiesta.xsd.dem.sanita.fvg.it" xmlns:sch1="http://tipodati.xsd.dem.sanita.fvg.it" xmlns:sch2="http://interroganreutilricevuta.xsd.dem.sanita.fvg.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://interroganreutilrichiesta.xsd.dem.sanita.fvg.it">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://interroganreutilrichiesta.xsd.dem.sanita.fvg.it" xmlns="http://interroganreutilrichiesta.xsd.dem.sanita.fvg.it" xmlns:td="http://tipodati.xsd.dem.sanita.fvg.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:annotation>
            <xs:documentation>Versione 1.2</xs:documentation>
         </xs:annotation>
         <xs:import namespace="http://tipodati.xsd.dem.sanita.fvg.it"/>
         <xs:element name="InterrogaNreUtilRichiesta">
            <xs:annotation>
               <xs:documentation>Elemento base per la richiesta di interrogazione dei nre utilizzati per numerare un prescritto</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="pinCode" type="td:stringType">
                     <xs:annotation>
                        <xs:documentation>PinCode inviante</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="codRegione" type="td:codRegioneType">
                     <xs:annotation>
                        <xs:documentation>Codice della Regione/P.A.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="nre" type="td:nreType">
                     <xs:annotation>
                        <xs:documentation>Singolo Numero Ricetta Elettronica</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="codLotto" type="td:codLottoType">
                     <xs:annotation>
                        <xs:documentation>Numero lotto</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="cfMedico" type="td:cfMedicoType">
                     <xs:annotation>
                        <xs:documentation>Codice fiscale di un medico prescrittore</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="cfAssistito" type="td:cfMedicoType">
                     <xs:annotation>
                        <xs:documentation>Codice fiscale dell'assistito</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="tipoPrescr" type="td:tipoPrescType">
                     <xs:annotation>
                        <xs:documentation>Tipologia di prescrizione</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="dataCompilazioneRicettaDal" type="td:dataOraType">
                     <xs:annotation>
                        <xs:documentation>Data compilazione ricetta “DAL” nel formato aaaa-mm-gg</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="dataCompilazioneRicettaAl" type="td:dataOraType">
                     <xs:annotation>
                        <xs:documentation>Data compilazione ricetta “AL” nel formato aaaa-mm-gg</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tipodati.xsd.dem.sanita.fvg.it" xmlns="http://tipodati.xsd.dem.sanita.fvg.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:annotation>
            <xs:documentation>Versione 1.2</xs:documentation>
         </xs:annotation>
         <xs:simpleType name="nreType">
            <xs:restriction base="xs:string">
               <xs:minLength value="15"/>
               <xs:maxLength value="15"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="pwdType">
            <xs:restriction base="xs:string">
               <xs:minLength value="0"/>
               <xs:maxLength value="16"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="dichTargaDoppiaType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoOperazioneType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="codRegioneType">
            <xs:restriction base="xs:string">
               <xs:minLength value="3"/>
               <xs:maxLength value="3"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="cfMedicoType">
            <xs:restriction base="xs:string">
               <xs:minLength value="0"/>
               <xs:maxLength value="16"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="codSpecializzazioneType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoInvioType">
            <xs:restriction base="xs:string">
               <xs:minLength value="3"/>
               <xs:maxLength value="3"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoRicettaType">
            <xs:restriction base="xs:string">
               <xs:minLength value="2"/>
               <xs:maxLength value="2"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoPrescType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoVisitaType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="indicPrescType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="prioritaType">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="codLottoType">
            <xs:restriction base="xs:string">
               <xs:pattern value="[0-9]{1,7}"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="dataOraType">
            <xs:restriction base="xs:string">
               <xs:minLength value="19"/>
               <xs:maxLength value="19"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="codEsitoType">
            <xs:restriction base="xs:string">
               <xs:pattern value="[0-9]{4}"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="stringType">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:simpleType name="string256Type">
            <xs:restriction base="xs:string">
               <xs:maxLength value="256"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="integerType">
            <xs:restriction base="xs:string">
               <xs:pattern value="[0-9]"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:complexType name="dettaglioPrescrizioneVisualErogatoType">
            <xs:sequence>
               <xs:element name="statoPresc" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Stato della prestazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codProdPrest" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice prodotto farmaceutico(AIC) o codice prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrProdPrest" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione testuale del prodotto farmaceutico o della prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codGruppoEquival" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice del gruppo equivalente</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrGruppoEquival" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione testuale del gruppo equivalente</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="testoLibero" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Campo che indica di tenere conto solamente della descrizione inserita in descrTestoLiberoNote</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrTestoLiberoNote" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione testuale della prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="nonSost" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Non sostituibilita' del farmaco</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="motivazNote" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Motivazione della non sostituibilita'</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codMotivazione" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codici di motivazione di non sostituibilita' di un farmaco</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="notaProd" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Nota AIFA</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quantita" type="integerType">
                  <xs:annotation>
                     <xs:documentation>Quantita' di confezioni o di prestazioni specialistiche prescritte</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="prescrizione1" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="prescrizione2" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codProdPrestErog" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice AIC del farmaco o codice della prestazione effettivamente erogata</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrProdPrestErog" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione del farmaco o della prestazione effettivamente erogata</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="flagErog" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Riferito a cio' che e' stato inserito nel campo codProdPrestErog: A - codice AIC aggiornato, S - sostituzione AIC, V - variazione codice prestazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="motivazSostProd" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Motivazione in caso di valore “S” in flagErog: 1 - etico con generico, 2 - generico con generico, 3 - generico irreperibile</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="targa" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Numero identificativo univoco della singola confezione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dichTargaDoppia" type="dichTargaDoppiaType">
                  <xs:annotation>
                     <xs:documentation>Dichiarazione del farmacista di erogazione di un farmaco il cui codice targatura e' gia' esistente presso il SAC</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codBranca" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice della branca specialistica della prestazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="tipoErogazioneFarm" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Tipologia di erogazione dei farmaci. Valori ammessi: C - distribuzione per conto, D - distribuzione diretta, A - assist integrativa domiciliare, I - assist integrativa</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="prezzo" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Prezzo al pubblico del prodotto farmaceutico o Tariffa della prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ticketConfezione" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Ticket della confezione farmaceutica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="diffGenerico" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Differenza con generico della confezione farmaceutica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="quantitaErogata" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Quantita' effettivamente erogata</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dataIniErog" type="dataOraType">
                  <xs:annotation>
                     <xs:documentation>Data di inizio erogazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dataFineErog" type="dataOraType">
                  <xs:annotation>
                     <xs:documentation>Data di fine erogazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="prezzoRimborso" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Prezzo di rimborso al laboratorio</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="onereProd" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Onere di distribuzione del prodotto farmaceutico erogato in DPC</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="scontoSSN" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Sconto riconosciuto al SSN</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="extraScontoIndustria" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Sconto obbligatorio dello 0,6% sul prezzo al pubblico lordo con IVA a carico dell'industria produttrice, per i medicinali erogati in regime SSN</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="extraScontoPayback" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Sconto che il SSN nel procedere alla corresponsione di quanto dovuto alle farmacie trattiene per un importo corrispondente allo 0,6% del prezzo al pubblico comprensivo dell'IVA</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="extraScontoDL31052010" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Sconto introdotto nel DL 31.05.2010</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codPresidio" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice del presidio di erogazione della prestazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codReparto" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice del reparto di erogazione della prestazione</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dispFust1" type="string256Type">
                  <xs:annotation>
                     <xs:documentation>Campo per futuro utilizzo</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dispFust2" type="string256Type">
                  <xs:annotation>
                     <xs:documentation>Campo per futuro utilizzo</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dispFust3" type="string256Type">
                  <xs:annotation>
                     <xs:documentation>Campo per futuro utilizzo</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="elencoDettagliPrescrVisualErogatoType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="DettaglioPrescrizioneVisualErogato" type="dettaglioPrescrizioneVisualErogatoType"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="nreUtilRecordType">
            <xs:sequence>
               <xs:element minOccurs="0" name="nre" type="nreType">
                  <xs:annotation>
                     <xs:documentation>Numero Ricetta Elettronica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cfMedico" type="cfMedicoType">
                  <xs:annotation>
                     <xs:documentation>codice fiscale del medico prescrittore a cui il lotto NRE e' associato (se presente)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="tipoPrescrizione" type="tipoPrescType">
                  <xs:annotation>
                     <xs:documentation>Tipo prescrizione della ricetta identificata dall’NRE</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dataCompilazioneRicetta" type="dataOraType">
                  <xs:annotation>
                     <xs:documentation>data compilazione della ricetta identificata dall’NRE</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cfAssistito" type="cfMedicoType">
                  <xs:annotation>
                     <xs:documentation>Codice fiscale dell'assistito</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="provenienza" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Canale di inserimento ricetta in archivio: Web / WS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="lotto" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Lotto di appartenenza</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codAutenticazione" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice autenticazione rilasciato dal SAC</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="elencoNreUtilRecordType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="NreUtilRecord" type="nreUtilRecordType"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="erroreRicettaType">
            <xs:sequence>
               <xs:element name="codEsito" type="codEsitoType"/>
               <xs:element minOccurs="0" name="esito" type="stringType"/>
               <xs:element minOccurs="0" name="progPresc" type="stringType"/>
               <xs:element minOccurs="0" name="tipoErrore" type="stringType"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="elencoErroriRicetteType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="ErroreRicetta" type="erroreRicettaType"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="dettaglioPrescrizioneType">
            <xs:sequence>
               <xs:element minOccurs="0" name="codProdPrest" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice prodotto farmaceutico (AIC) o codice prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrProdPrest" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione testuale del prodotto farmaceutico o della prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codGruppoEquival" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice del gruppo equivalente</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrGruppoEquival" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione testuale del gruppo equivalente</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="testoLibero" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Campo che indica di tenere conto solamente della descrizione inserita in descrTestoLibero</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="descrTestoLiberoNote" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Descrizione testuale della prestazione specialistica</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="nonSost" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Non sostituibilità del farmaco</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="motivazNote" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Motivazione della non sostituibilità</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="codMotivazione" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codici di motivazione di non sostituibilità di un farmaco</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="notaProd" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Nota AIFA</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quantita" type="integerType">
                  <xs:annotation>
                     <xs:documentation>Quantita' di confezioni o di prestazioni specialistiche prescritte</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="prescrizione1" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="prescrizione2" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="elencoDettagliPrescrizioniType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="DettaglioPrescrizione" type="dettaglioPrescrizioneType"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="comunicazioneType">
            <xs:sequence>
               <xs:element name="codice" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Codice della comunicazione di servizio</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="messaggio" type="stringType">
                  <xs:annotation>
                     <xs:documentation>Messaggio di servizio</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="elencoComunicazioniType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="Comunicazione" type="comunicazioneType"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://interroganreutilricevuta.xsd.dem.sanita.fvg.it" xmlns="http://interroganreutilricevuta.xsd.dem.sanita.fvg.it" xmlns:td="http://tipodati.xsd.dem.sanita.fvg.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:annotation>
            <xs:documentation>Versione 1.2</xs:documentation>
         </xs:annotation>
         <xs:import namespace="http://tipodati.xsd.dem.sanita.fvg.it"/>
         <xs:element name="InterrogaNreUtilRicevuta">
            <xs:annotation>
               <xs:documentation>Elemento base della ricevuta a seguito dell'interrogazione dei nre utilizzati per numerare un prescritto</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="codEsitoInterrogaNreUtilizzati" type="td:codEsitoType">
                     <xs:annotation>
                        <xs:documentation>Codice dell'esito dell'operazione</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="ElencoNreUtilRecord" type="td:elencoNreUtilRecordType">
                     <xs:annotation>
                        <xs:documentation>Elenco singoli nre</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="ElencoErroriRicette" type="td:elencoErroriRicetteType">
                     <xs:annotation>
                        <xs:documentation>Ripetizione di ErroreRicetta</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="ElencoComunicazioni" type="td:elencoComunicazioniType">
                     <xs:annotation>
                        <xs:documentation>Ripetizione di Comunicazioni di servizio</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="InterrogaNreUtilRichiesta">
      <wsdl:part element="tns:InterrogaNreUtilRichiesta" name="InterrogaNreUtilRichiesta"/>
   </wsdl:message>
   <wsdl:message name="InterrogaNreUtilRicevuta">
      <wsdl:part element="sch2:InterrogaNreUtilRicevuta" name="InterrogaNreUtilRicevuta"/>
   </wsdl:message>
   <wsdl:portType name="inboundGatewayInterrogaNreUtil">
      <wsdl:operation name="InterrogaNreUtil">
         <wsdl:input message="tns:InterrogaNreUtilRichiesta" name="InterrogaNreUtilRichiesta"/>
         <wsdl:output message="tns:InterrogaNreUtilRicevuta" name="InterrogaNreUtilRicevuta"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="inboundGatewayInterrogaNreUtilSoap11" type="tns:inboundGatewayInterrogaNreUtil">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="InterrogaNreUtil">
         <soap:operation soapAction=""/>
         <wsdl:input name="InterrogaNreUtilRichiesta">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="InterrogaNreUtilRicevuta">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="inboundGatewayInterrogaNreUtilService">
      <wsdl:port binding="tns:inboundGatewayInterrogaNreUtilSoap11" name="inboundGatewayInterrogaNreUtilSoap11">
         <soap:address location="http://localhost:8070/SARWs_FVG_TRUNK/InterrogaNreUtil"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>